In [4]:
import pandas as pd
import numpy as np

# 01 Data Preperation
Here we can convert the raw data into our features and labels.

*Paths*
* Classification: Simple datatable for each (X,Y) Pos
<table>
    <thead><tr><td>X pos</td><td>Y pos</td><td>value_map_1</td><td>value_map_2</td><td>value_map_3</td><td>A_well_was_drilled_at_this_pos</td></tr></thead>
    <tr><td>0</td><td>0</td><td>5.2</td><td>1.2</td><td>1.2</td><td>False</td></tr>
    <tr><td>0</td><td>1</td><td>6.3</td><td>6.3</td><td>6.3</td><td>True</td></tr>
    </table>
* Regression: Simple datatable for each (X,Y) Pos. Distance factor (0.0-1.0) should probably be a quadratic factor?
<table>
    <thead><tr><td>X pos</td><td>Y pos</td><td>value_map_1</td><td>value_map_2</td><td>value_map_3</td><td>Distance_factor_from_actual_well</td></tr></thead>
    <tr><td>0</td><td>0</td><td>5.2</td><td>1.2</td><td>1.2</td><td>0.62</td></tr>
    <tr><td>0</td><td>1</td><td>6.3</td><td>6.3</td><td>6.3</td><td>1.0</td></tr>
    </table>
* Deep Learning (**Out of scope**): Combine the 2D maps into a single feature space and as a lable a 2D mask with actual production well location (perfect for convolutional neural networks)

# Rread Well locations (Classification)

In [31]:
#file = open(“WellLocationsMap.txt”, “r”)
 
#print file.read(5) 

# loop over the data and create a datframe [XPos, YPos, WellPresent]

df_cls = pd.DataFrame()
df_cls['XPos'] = [0,1,2,0,1,2,0,1,2]
df_cls['YPos'] = [0,0,0,1,1,1,2,2,2]
df_cls['Random1'] = np.random.uniform(0, 100, df_cls.shape[0])
df_cls['Random2'] = np.random.uniform(0, 100, df_cls.shape[0])

df_cls['WellPresent'] = np.random.randint(0, 2, df_cls.shape[0])
df_cls.head()

   XPos  YPos    Random1    Random2  WellPresent
0     0     0  44.693032  22.491911            1
1     1     0   3.784084  89.322495            1
2     2     0  76.538793  47.103689            0
3     0     1  86.221039  97.030792            1
4     1     1  42.069954  17.644576            1

# Read Well location approximations (Regression)

In [34]:
df_reg = pd.DataFrame()
df_reg['XPos'] = [0,1,2,0,1,2,0,1,2]
df_reg['YPos'] = [0,0,0,1,1,1,2,2,2]
df_reg['Random1'] = np.random.uniform(0, 100, df_cls.shape[0])
df_reg['Random2'] = np.random.uniform(0, 100, df_cls.shape[0])

df_reg['WellProbability'] = np.random.uniform(0, 1, df_cls.shape[0])
df_reg.head()

   XPos  YPos    Random1    Random2  WellProbability
0     0     0  28.904510  67.011900         0.543692
1     1     0  79.071356  14.315418         0.689636
2     2     0  83.086544  73.866708         0.765839
3     0     1  87.419551  81.646088         0.775982
4     1     1  14.186743  93.120957         0.159413

# Data cleaning

# Feature Engineering

# Save the data

In [35]:
df_cls.to_csv('ClassificationData.csv')
df_reg.to_csv('RegressionData.csv')

# TODO
* Discuss Train/Validation/Test split (arbitrary random or specific say reserving a few wells for each set)??